<h1>Login / Signup</h1>

<div class='form-container'>
  <div class='login-form'>
    <h2>Login</h2>
    <form action='/login' method='post'>
      <label for='login-username'>Username</label>
      <input type='text' id='login-username' name='username' required />

      <label for='login-password'>Password</label>
      <input type='password' id='login-password' name='password' required />

      <input type='submit' value='Login' />
    </form>
  </div>

  <div class='signup-form'>
    <h2>Signup</h2>
    <form action='/signup' method='post'>
      <label for='signup-username'>Username</label>
      <input type='text' id='signup-username' name='username' required />

      <label for='signup-password'>Password</label>
      <input type='password' id='signup-password' name='password' required />

      <input type='submit' value='Signup' />
    </form>
  </div>
</div>