{{#if error}}
  <p class="error">{{error}}</p>
{{/if}}
<form id="signup-form">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  
  <button type="submit">Sign Up</button>
</form>
<p>Already have an account? <a href="./layouts/login.handlebars">Log in here</a></p>
